body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	height: 100vh;
	background: linear-gradient(to right, #BD0F4D 50%, #CB2964 0%);
}

div.bk-container{
	text-align: center;
	color: #ffffff;
	height: 100%;
}

.title{
	text-align: center;
}

img.forefront-img{
	width: 500px;
	height: 600px;
}
@media screen and (max-width:540px){
	img.forefront-img{
	width: 300px;
	height: 400px;
}

.icons-text{
	display: none;
}
}

@media screen and (max-width:360px){
.avartar img{
	display: none;
}

.icons{
display: none;
}
}

@media screen and (max-width:940px){
	.icons-text{
	display: none;
}
}

.nav-element{
	display: flex;
	justify-content: space-around;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
	align-items: center;
	text-align: center;
	position: relative;
	right: 1rem;
}
ul li {
	list-style: none;
	cursor: pointer;
	font-size: 12px;
}

.icons{
	float:right;
	margin-right: 1rem;
	margin-top: 250px;
}
.icons div {
	margin-top: 1.5rem;
}

.icons-text{
	float: left;
	margin-left: 1rem;
	margin-top: 250px;
}

.fab{
font-size: 2rem;
}
.fas{
	font-size: 2rem;
}

.fab:hover{
font-size: 2rem;
color:black;
cursor: pointer;
}
.fas:hover{
	font-size: 2rem;
	color:black;
	cursor: pointer;
}

.avartar img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	vertical-align: middle;
	opacity: 0.7;
	border: 1px solid white;
}
a{
	color: white;
	opacity: .4;
font-size: small;
text-decoration: none;
text-orientation: sideways;

}
.forefront-img{
align-items: center;
}